.detailContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: auto;
  margin: 1.5rem;
  height: 60%;

  width: 40%;
}

.gameDetails {
  font-size: 1.5rem;
}
.imgDetail {
  border-radius: 10px;
  filter: drop-shadow(9px 14px 81px #5c5151);
}

.firstItem {
  margin-top: 0;
}
.btnC {
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.btn {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Rubik";
}
.linelink {
  margin-left: 0.5rem;
  width: 15rem;
  height: 1rem;
}
