.gameCard {
  list-style: none;
}
.gameCard:hover {
  opacity: 0.9;
}

.gameImage {
  border-radius: 10px;

  background-color: azure;
}
.titleName {
  text-align: center;
  font-size: 2.1rem;
  font-family: "Rubik", sans-serif;
  color: white;
  margin: 0.5rem;
}
.ratingTitle {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.rating {
  text-align: center;
}

.genreTitle {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.genre {
  text-align: center;
}

@media (max-width: 560px) {
  .gameImage {
    width: 90%;
    height: auto;
  }
}
.linetwo {
  width: 75%;

  margin: 0 auto;
  display: block;
}
.line {
  width: 100%;

  display: block;
}
