.gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

.navBar {
  box-shadow: rgb(77, 133, 236) 0 -1px 7px 1px,
    inset rgb(233, 66, 122) 0 -1px 15px, rgb(226, 120, 33) 0 2px 12px;
  padding: 0.5em 1em;
  color: #e3eef5;
  font-size: 1rem;
  background-color: rgba(12, 12, 11, 0.8);
  cursor: pointer;
  border: 1px solid #e78122;
  box-shadow: rgb(77, 133, 236) 0 -1px 70px 1px,
    inset rgb(233, 66, 122) 0 -1px 1px, rgb(226, 120, 33) 0 2px 12px;
}
.btn {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e78122;
  box-shadow: rgb(77, 133, 236) 0 -1px 70px 1px,
    inset rgb(233, 66, 122) 0 -1px 1px, rgb(226, 120, 33) 0 2px 12px;
}
