.conteiner {
  display: flex;
  text-align: center;
}

.selectCont {
  cursor: pointer;
  text-align: center;
  outline: none;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 1.5rem;
  width: 7rem;
  font-size: 19px;
  border-color: blueviolet;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: black;
  font-family: "Rubik";
  color: white;
  -webkit-appearance: none;
}

.selectCont:hover {
  opacity: 0.8;
}

option {
  font-size: 15px;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
