.conteiner {
  display: flex;
  text-align: center;
}

.selectCont {
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  outline: none;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 2rem;
  width: 7rem;
  letter-spacing: 0.1em;
  font-size: 19px;
  border-style: groove;
  border-color: blueviolet;
  background-color: black;
  font-family: "Rubik";
  color: white;
  -webkit-appearance: none;
}

option {
  font-size: 15px;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
